* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: black;
}

a {
  text-decoration: none;
  color: darkorange;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: lightcoral;
}

button {
  background-color: darkorange;
  border: 0;
  padding: 2%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background-color: lightcoral;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .6%;
  border-radius: 6px;
  border: 1.2px solid black;
}

textarea:focus, input:focus {
  outline: none;
  border: 1.2px solid darkorange;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1.2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2%;
}

header h1 {
  font-size: 2em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: darkblue;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: black;
}

.delete-post-btn {
  background-color: darkred;
}

.delete-post-btn:hover {
  background-color: red;
}

.post {
  margin-bottom: 2%;
  line-height: 140%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: black;
}

.edit-link {
  display: block;
  margin: -1.4% 0 2% 0;
}

.comment-form {
  margin-bottom: 6%;
}

.comment {
  padding: 0.8%;
  margin-bottom: 0.8%;
}

.comment:nth-child(odd) {
  background-color: lightpink;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .6%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 6%;
}

footer {
  border-top: 1.2px solid black;
  display: flex;
  justify-content: center;
  padding: 1.2%;
  font-size: 100%;
}